{% extends "layout.html"%}

{% block content %}
<header class="about_header about_header-fluid">
    <div class="about_container">
        <h1 class="main-content-header">Grow <br><span class="main-content-header">Read more, learn more.</span></h1>
    </div>
</header>

<section id="sec-about" class="sec-about pt-5 pb-5 text-center">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-8">
                <h1 class="h4">Three Easy Steps:</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4">
                <h4><img src="/static/images/icons/book.png" style="width: 2em" /></h4>

                <hr />

                <h5>Find your Book</h5>
            </div>

            <div class="col-sm-4">
                <h4><img src="/static/images/icons/goal.png" style="width: 2em" /></h4>

                <hr />

                <h5>Set a Goal</h5>
            </div>

            <div class="col-sm-4">
                <h4><img src="/static/images/icons/progress.png" style="width: 2em" /></h4>

                <hr />

                <h5>Check your Progress</h5>
            </div>
        </div>
    </div>
</section>

<section id="sec-about" class="sec-about pt-5 pb-5 text-center">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-8">
                <p class="about_paragraph">This app was made for people to set reading goals, track their progress
                    (based on the amount of pages read), and get motivated to read more.</p>
            </div>
        </div>
    </div>
</section>

<hr />

<section id="sec-about" class="sec-about pt-5 pb-5 text-center">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="about_paragraph">Stats & Infographics</h2>
            </div>
        </div>

    </div>
</section>
<hr />

<section id="sec-about" class="sec-about pt-5 pb-5 text-center">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-8">
                <h2 class="about_paragraph">Earn Achievements</h2>
            </div>
        </div>

    </div>
</section>
{% endblock %}