{% extends "layout.html" %}

{% block content %}


<div class="col text-center">

    <form class="form-inline my-2 my-lg-0" action="" method="GET">
        <input class="form-control mr-sm-2" id="search" name="search" placeholder="Search for book here" />
        <button class="btn btn-success btn-md" id="search-button" type="button">Search</button>
    </form>
    <div id="results"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class='form-group' method='POST' action='' novalidate>
                <div class="modal-body">
                    <img id="md_image">
                    <div id="md_author"></div>


                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title(class_="input form-control", placeholder="Add title") }}
                    </div>

                    <div class="form-group">
                        {{ form.image.label }}
                        {{ form.image(class_="input form-control", placeholder="Add image") }}
                    </div>


                    <div class="form-group">
                        {{ form.author.label }}
                        {{ form.author(class_="input form-control", placeholder="Add author") }}
                    </div>

                    <div class="form-group">
                        {{ form.ISBN_13.label }}
                        {{ form.ISBN_13(class_="input form-control", placeholder="Add ISBN-13") }}
                    </div>

                    <div class="form-group">
                        {{ form.ISBN_10.label }}
                        {{ form.ISBN_10(class_="input form-control", placeholder="Add ISBN-10") }}
                    </div>

                    <div class="form-group">
                        {{ form.date_published.label }}
                        {{ form.date_published(class_="input form-control", placeholder="Add date published") }}
                    </div>

                    <div class="form-group">
                        {{ form.description.label }}
                        {{ form.description(class_="input form-control", placeholder="Add description") }}
                    </div>

                    <div class="form-group">
                        {{ form.total_pages.label }}
                        {{ form.total_pages(class_="input form-control", placeholder="Add total pages") }}
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ form.submit(class_="button btn btn-success") }}
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}