{% extends "layout.html"%}

{% block content %}
<h1>Books Template</h1>
{% for book in books_template %}
<article>
    <div class="col-md-4">

        <div class="form-group">

            <div class="col text-center">
                <h3>{{ book.title }}</h3>
            </div>
            <div class="form-group">
                <a href="{{url_for("books", book=book.id)}}"><img src="{{book.image}}" /></a>
            </div>
            <div class="col text-center">
                <a class="btn btn-success btn-md" href="/books/{{book.id}}">Add Book</a>
            </div>

        </div>

    </div>

</article>

{% endfor %}

{% endblock %}