{% extends "layout.html" %}

{% block content %}

<h1>Book Details</h1>

<article>
    <div class="row">
        <div class="col-md-4"><img src="{{ book.image }}" /></div>
        <div class="col-md-6">
            <h2>Title: {{ book.title }}</h2>
            <h2>Author: {{ book.author }}</h2>
            <h2>ISBN_10: {{ book.ISBN_10 }}</h2>
            <h2>Total Pages: {{ book.total_pages }}</h2>
            <a class="btn btn-success btn-md" href="/setgoal/{{book.id}}">Set My Goal!</a>
        </div>
    </div>

</article>

{% endblock %}