{% extends "layout.html"%}

{% block content %}
<h1>My Goals</h1>

{% for goal in goals_template %}
<article>
    <div class="row form-group">
        <div class="col-md-4">
            <img src="{{ goal.book_id.image }}" style="width: 70%" />
        </div>
        <div class="col-md-3">
            <h3> {{ goal.book_id.title }} </h3>
            <h4> By: {{ goal.book_id.author }} </h4>
        </div>
        <div class="col-md-3">
            <div class="row form-group">
                <div class="col-md-10 progress" style="height: 2.5em">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%"
                        aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                        {{progress}}%</div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <a class="mygoals-btns btn btn-success btn-lg" href="/mygoals/{{goal.id}}">Details</a>
            <a class="mygoals-btns btn btn-danger btn-lg" href="/delete/{{goal.id}}"
                onclick="return confirm('Are you sure you want to delete this book goal? Action cannot be undone.') ">Delete</a>
        </div>
    </div>
</article>

{% endfor %}

{% endblock %}