{% extends "layout.html"%}

{% block content %}
<h1>My Goals</h1>

{% for goal in goals_template %}
<article class="row form-group">
    <div class="col-md-4">
        <img src="{{ goal.book_id.image }}" style="width: 60%" />
    </div>
    <div class="col-md-3">
        <h3> {{ goal.book_id.title }} </h3>
        <h4> By: {{ goal.book_id.author }} </h4>
    </div>
    <div class="col-md-3">
        <h3>{{ goal.status }}</h3>
    </div>
    <button class="btn btn-success"><a href="/mygoals/{{goal.id}}">Details</a></button>
</article>

{% endfor %}

{% endblock %}