{% extends "layout.html"%}

{% block content %}

<h1>My Goal</h1>

<section>
    <div class="row form-group"">
        <div class=" col-md-4 form-group">
        <img src="{{goal.book_id.image}}" style=" width: 100%" />
    </div>
    <div class="col-md-8">
        <h2> Title: {{ goal.book_id.title }} </h2>
        <h2> Status: {{ goal.status }} </h2>
        <h2> Book Progress: {{ goal.book_progress }} / {{ goal.book_id.total_pages}} pages</h2>
        <h2> Start date: {{ goal.start_date }} </h2>
        <h2> End date: {{ goal.end_date }} </h2>
        <h2> Notes: {{ goal.notes }} </h2>

        <form action="" method="POST">
            <input name="goalid" type="hidden" value="{{goal.id}}">
            <input class="form-control mr-sm-2" type="text" name="pages" placeholder="Current Page" />
            <textarea class="form-control mr-sm-2" type="text" name="notes" placeholder="Notes"></textarea>
            <button class="btn btn-success">Update</button>
        </form>
    </div>
    </div>
    <div class="row form-group">
        <div class="col-md-10 progress" style="height: 2.5em">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%"
                aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                {{progress}}%</div>
        </div>
    </div>

</section>

{% endblock %}