{% extends "layout.html" %}

{% block content %}
<h1>Set Book Goal</h1>
<h2>Please enter the # of pages you plan to read: </h2>
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}

    <div>
        {{ form.start_date.label }}
        {{ form.start_date(class_="input", placeholder="Add start date") }}
    </div>

    <div>
        {{ form.end_date.label }}
        {{ form.end_date(class_="input", placeholder="Add end date") }}
    </div>

    <div>
        {{ form.notes.label }}
        {{ form.notes(class_="textarea", placeholder="Add notes") }}
    </div>
    {{ form.submit(class_="button") }}
</form>
{% endblock %}