{% extends "layout.html" %}

{% block content %}
<h1>Set Book Goal</h1>
<h2>Please enter your reading goals: </h2>
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.start_date.label }}
        {{ form.start_date(class_="input form-control", placeholder="Add start date") }}
    </div>

    <div class="form-group">
        {{ form.end_date.label }}
        {{ form.end_date(class_="input form-control", placeholder="Add end date") }}
    </div>

    <div class="form-group">
        {{ form.notes.label }}
        {{ form.notes(class_="textarea form-control", placeholder="Add notes") }}
    </div>
    {{ form.submit(class_="button btn btn-success") }}
</form>
{% endblock %}